<html>
    <head>
        <title>Dipansh's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Dipansh's Blog</a></h1>
        </div>

        <div>
            <p>published: 03.07.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello everyone !!</p>
        </div>

        <div>
            <p>published: 03.07.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello again !!</p>
        </div>
    </body>
</html>